.title{
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
}

.list{
    display: flex;
    width: 100vw;
    overflow-x: hidden;
    padding-bottom:30px

}

.list:hover{
    overflow: overlay;
}

.item{
    margin-right: 20px;
}